
  <%= form_for @project_request do |f| %>
  <%= render 'shared/project_request_messages' %>


    <div class="field">
      <%= f.hidden_field(:employee_id)%>
    </div>

    <div class="form-group">
      <%= f.label :project_id %><br>
      <%= f.collection_select(:project_id, @projects, :id, :project_name, {prompt: "Select Project..."}, {:class => "form-control"}) %>
    </div>
    <div class="form-group">
      <%= f.label :description %><br>
      <%= f.text_area :description, {:class => "form-control"} %>
    </div>
    <div class="form-group">
      <%= f.label :start_date %><br>
      <%= f.date_select :start_date %>
    </div>
    <div class="form-group">
      <%= f.label :end_date %><br>
      <%= f.date_select :end_date %>
    </div>

    <div class="row form-group">
      <h5 class="col-md-4"><strong>Required Skills</strong></h5>
    </div>
    <%= f.fields_for :required_skills do |required_skill_fields| %>
    <div class="row">
      <div class="col-md-3">
        <%= required_skill_fields.collection_select(:skill_id, @skills, :id, :skill_name, {prompt: 'Select Skill'}, {class: "form-control"}) %>
      </div>
      <div class="col-md-1">
        <%= required_skill_fields.check_box :_destroy %>Delete Skill
      </div>
    </div>
  <% end %>

  <%= f.submit 'Add Required Skill', :name => 'add_skill', :class => 'btn btn-primary btn-submit' %>
        
    <div class="form-group">
      <%= f.label :filled, "Check if Closed to New Applicants:" %>
      <%= f.check_box :filled %>
    </div>

   <div>
      <%= f.submit class: "btn btn-primary btn-submit" %>
      <%= link_to 'Cancel', my_project_requests_path(current_employee), :class => 'btn btn-warning btn-submit' %>
    </div>

  <% end %>


  

