<%= form_for(@project_request) do |f| %>
  <% if @project_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project_request.errors.count, "error") %> prohibited this project_request from being saved:</h2>

      <ul>
      <% @project_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :project_id %><br>
    <%= f.number_field :project_id %>
    </div>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :department_id %><br>
    <%= f.number_field :department_id %>
  </div>
  <div class="field">
    <%= f.label :group_id %><br>
    <%= f.number_field :group_id %>
  </div>
  <div class="field">
    <%= f.label :location_id %><br>
    <%= f.number_field :location_id %>
  </div>
  <div class="field">
    <%= f.label :skill_id %><br>
    <%= f.number_field :skill_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
