
  <%= form_for @project_request do |f| %>

    <div class="field">
      <%= f.hidden_field(:employee_id)%>
    </div>

    <div class="form-group">
      <%= f.label :project_id %><br>
      <%= f.collection_select(:project_id, @projects, :id, :project_name, {prompt: "Select Project..."}, {:class => "form-control"}) %>
    </div>
    <div class="form-group">
      <%= f.label :description %><br>
      <%= f.text_area :description, {:class => "form-control"} %>
    </div>
    <div class="form-group">
      <%= f.label :start_date %><br>
      <%= f.date_select :start_date %>
    </div>
    <div class="form-group">
      <%= f.label :end_date %><br>
      <%= f.date_select :end_date %>
    </div>

    <div class="row form-group skills-list">
      <h5 class="col-md-12"><strong>Skills</strong></h5>  
      <% @skills.each do |skill| %>
      <div class="col-md-4">
        <%= skill.skill_name %>
        <%= check_box_tag "project_request[skill_ids][]", skill.id, @project_request.skill_ids.include?(skill.id) %><br>
      </div>
      <% end %>
    </div>
        
    <div class="form-group">
      <%= f.label :filled, "Check if Closed to New Applicants:" %>
      <%= f.check_box :filled %>
    </div>

   <div>
      <%= f.submit class: "btn btn-primary btn-submit" %>
      <%= link_to 'Cancel', my_project_requests_path(current_employee), :class => 'btn btn-warning btn-submit' %>
    </div>

  <% end %>


  

