<% provide(:page_title, "Project Requests") %>

<ul class="nav nav-tabs">
  <li role="presentation"><%= nav_link_to 'All Requests', project_requests_path, {}, {:wrapper => 'li', :selected_class => 'active'} %></li>
  <li role="presentation"><%= link_to 'My Profile', employee_path(current_employee)%></li>
  <li role="presentation"><%= nav_link_to 'My Requests', my_project_requests_path(current_employee), {}, {:wrapper => 'li', :selected_class => 'active'} %></li>
</ul>

<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-12">
    <% if params.include?(:employee_id) %>
    <h1 class="text-left"><u>My Project Requests</u></h1>
    <% else %>
    <h1 class="text-left"><u>All Requests</u></h1>
    <% end %>
  </div>
</div>

<% if params.include?(:employee_id) %>
  <div class="row">
    <div class="col-md-12 lead"><u>
      <%= link_to 'New Project Request', new_project_request_path %></u>
    </div>
  </div>
<% end %>

<% @project_requests.each do |project_request| %>

  <div class="panel panel-info">

    <div class="panel-heading"><span class="entry_title">
      Project:</span>
      <%= project_request.project.project_name %>
    </div>

    <div class="panel-body"><span class="entry_title">
      Request Start Date:</span>
      <%= project_request.start_date %>
      <%= in_progress(project_request) %>
    </div>

    <div class="panel-body"><span class="entry_title">
      Request End Date:</span>
      <%= project_request.end_date %>
    </div>

    <div class="panel-body"><span class="entry_title">
      Project Lead:</span>
      <%= project_request.project.lead.employee_name %>
    </div>

    <div class="panel-body"><span class="entry_title">
      Description:</span>
      <%= project_request.description %>
    </div>

    <div class="panel-body">
      <div class="row skill-group">
        <div class="col-md-1">
          <span class="entry_title">Required Skills:</span>
        </div>
        <div class="col-md-11">
          <% project_request.skills.each do |skill| %>
            <ul>
              <li><%= skill.skill_name %></li>
            </ul>
          <% end %>
        </div>
      </div>
    </div>

    <% if params.include?(:employee_id) %>
      <%= link_to 'Edit', edit_project_request_path(project_request), {class: "btn btn-info"} %>
      <%= link_to 'Destroy', project_request, class: "btn btn-success", method: :delete, data: { confirm: 'Are you sure?' } %>
  
      <div class="panel-body"><span class="entry_title">
        Request is Closed:</span>
        <%= project_request.filled %>
      </div>

      <div class="panel-body"><span class="entry_title">
        Respondents:</span>
      </div>
   
      <% project_request.respondents.each do |respondent| %>
    
        <div class="row">
          
          <div class="col-md-2">
            <div class="panel-body">
              <%= respondent.employee_name %>
            </div>
          </div>
          <div class="col-md-1">
            <div class="panel-body">
              <%= link_to 'Profile', employee_path(respondent), {class: "btn btn-info"} %>
            </div>
          </div>
          <div class="col-md-1">
            <div class="panel-body">
              <%= link_to 'Assign', new_assignment_path(project_request_id: project_request, respondent_id: respondent), {class: "btn btn-success"} %>
            </div>
          </div>
        
        </div>
        
      <% end %>   
    <% end %>  

  </div>
<% end %>

