<% provide(:page_title, "Project Requests") %>

<div class="row">
  <div class="col-md-12">
    <% if params.include?(:employee_id) %>
    <h1 class="text-left"><u>My Project Requests</u></h1>
    <% else %>
    <h1 class="text-left"><u>All Requests</u></h1>
    <% end %>
  </div>
</div>

<% if params.include?(:employee_id) %>
  <div class="row">
    <div class="col-md-12 lead"><u>
      <%= link_to 'New Project Request', new_project_request_path %></u>
    </div>
  </div>
<% end %>

<% @project_requests.each do |project_request| %>

  <div class="panel panel-info">
    <div class="panel-heading"><span class="entry_title">
      Project:</span>
      <%= project_request.project.project_name %>
    </div>

    <div class="panel-body"><span class="entry_title">
      Task Start Date:</span>
      <%= project_request.start_date %>
      <%= in_progress(project_request) %>
    </div>

    <div class="panel-body"><span class="entry_title">
      Task End Date:</span>
      <%= project_request.end_date %>
    </div>

    <div class="panel-body"><span class="entry_title">
      Project Lead:</span>
      <%= project_request.project.lead.employee_name %>
    </div>

    <div class="panel-body"><span class="entry_title">
      Description:</span>
      <%= project_request.description %>
    </div>

    <div class="panel-body">
      <div class="row skill-group">
        <div class="col-md-1">
          <span class="entry_title">Required Skills:</span>
        </div>
        <div class="col-md-11">
          <% project_request.skills.each do |skill| %>
            <ul>
              <li><%= skill.skill_name %></li>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
    
    <% if project_request.respondents.include?(current_employee) %>
      <div class='btn btn-success' disabled='disabled'><%= "Application Submitted" %></div>
    <% elsif project_request.employee != current_employee %>
      <div>
        <%= link_to 'Submit Application', new_project_request_response_path(project_request), class: 'btn btn-success' %>
      </div>
    <% end %>

    <% if params.include?(:employee_id) %>
  
      <div class="panel-body"><span class="entry_title">
        Respondents:</span>
      </div>
   
      <% project_request.respondents.each do |respondent| %>
    
        <div class="row">
          
          <div class="col-md-2">
            <div class="panel-body">
              <%= respondent.employee_name %>
            </div>
          </div>
          <div class="col-md-1">
            <div class="panel-body">
              <%= link_to 'Profile', employee_path(respondent), class: "btn btn-info" %>
            </div>
          </div>
          
          <% if project_request.developers.include?(respondent) %>
            <div class="col-md-1">
              <div class="panel-body">
                <div class='btn btn-default' disabled='disabled'><%= "Assigned" %></div>
              </div>
            </div>
          <% else %>
            <div class="col-md-1">
              <div class="panel-body">
                <%= link_to 'Assign', new_assignment_path(project_request_id: project_request, respondent_id: respondent), class: "btn btn-success" %>
              </div>
            </div>
          <% end %>
          
        </div>
        
      <% end %> 
    
      <div class="panel-body"><span class="entry_title">
        
        <% if project_request.filled? %>
          <%= form_for project_request do |f| %>
            <%= f.hidden_field :filled, value: false %>
            <%= f.submit 'Request Closed (Click to Reopen)', :class => 'btn btn-submit btn-danger' %>
          <% end %>
        
        <% else %>
          <%= form_for project_request do |f| %>
            <%= f.hidden_field :filled, value: true %>
            <%= f.submit 'Request Open (Click to Close)', :class => 'btn btn-submit btn-success' %>
          <% end %>
    
    <% end %>
        
    </div>

    
        <%= link_to 'Edit Request', edit_project_request_path(project_request), class: "btn btn-warning" %>
        <%= link_to 'Destroy Request', project_request, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
    
<% end %>  

  </div>
<% end %>

