<h1>OneTeam Project Requests</h1>

<table>
  <thead>
    <tr>
      <th>Project</th>
      <th>Manager/Lead</th>
      <th>Department</th>
      <th>Group</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @project_requests.each do |project_request| %>
      <tr>
        <td><%= project_request.project_id %></td>
        <td><%= project_request.user_id %></td>
        <td><%= project_request.group_id %></td>
        <td><%= link_to 'Show', project_request %></td>
        <td><%= link_to 'Edit', edit_project_request_path(project_request) %></td>
        <td><%= link_to 'Destroy', project_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project request', new_project_request_path %>
