<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @project_request.project.project_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project_request.description %>
</p>

<%= link_to 'Edit', edit_project_request_path(@project_request) %> |
<%= link_to 'Back', project_requests_path %>
