<%= form_for(@employee) do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :employee_name, 'Employee Name:' %><br>
    <%= f.text_field :employee_name %>
  </div>
  <div class="field">
    <%= f.label :employee_email, 'Email:' %><br>
    <%= f.text_field :employee_email %>
  </div>
  <div class="field">
    <%= f.label :years_with_company, 'Years with Company:' %><br>
    <%= f.number_field :years_with_company %>
  </div>
   <div class="field">
     <%= f.label :manager_id, 'Manager/Lead:' %><br>
     <%= f.collection_select(:manager_id, @employees, :id, :employee_name ) %>
  </div>
  <div class="field">
    <%= f.label :title_id, 'Title:' %><br>
    <%= f.collection_select(:title_id, @titles, :id, :title_name ) %>
  </div>
  <div class="field">
    <%= f.label :group_id, 'Group:' %><br>
    <%= f.collection_select(:group_id, @groups, :id, :group_name ) %>
  </div>
  <div class="field">
    <%= f.label :location_id, 'Location:'%><br>
    <%= f.collection_select(:location_id, @locations, :id, :location_name ) %>
  </div>
<p>Current Skills:</p>
  <div class="field">
    <% @skills.each do |skill| %>
    <%= skill.skill_name %>
    <%= check_box_tag "employee[skill_ids][]", skill.id, @employee.skill_ids.include?(skill.id) %><br>
    <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
