<p id="notice"><%= notice %></p>

<h1>OneTeam Employees</h1>

<table>
  <thead>
    <tr>
      <th>Employee Name</th>
      <th>Employee Email</th>
      <th>Years with Company</th>
      <th>Manager/Lead</th>
      <th>Position</th>
      <th>Department</th>
      <th>Group</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.employee_name %></td>
        <td><%= employee.employee_email %></td>
        <td><%= employee.try(:years_with_company) %></td>
        <td><%= employee.try(:manager).try(:employee_name) %></td>
        <td><%= employee.try(:title).try(:title_name) %></td>
        <td><%= employee.try(:group).try(:department).try(:department_name) %></td>
        <td><%= employee.try(:group).try(:group_name) %></td>
        <td><%= employee.try(:location).try(:location_name) %></td>
        <td><%= link_to 'Show', employee %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
        <% if current_employee.admin? && !current_employee?(employee) %>
          | <%= link_to "delete", employee, method: :delete,
                                  data: { confirm: "You sure?" } %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employee', new_employee_path %>
