<p id="notice"><%= notice %></p>

<h1>Create Your OneTeam Account</h1>

 <%= form_for(@employee) do |f| %>

  <div class="field">
    <%= f.label :employee_name, 'Employee Name:' %><br>
    <%= f.text_field :employee_name %>
  </div>
  <div class="field">
    <%= f.label :employee_email, 'Email:' %><br>
    <%= f.text_field :employee_email %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "Confirmation" %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', employees_path %>
