<p id="notice"><%= notice %></p>

<h1>Employee Profile</h1>

<p>
  <strong>Employee Name:</strong>
  <%= @employee.employee_name %>
</p>

<p>
  <strong>Employee Email:</strong>
  <%= @employee.employee_email %>
</p>

<p>
  <strong>Years with Company:</strong>
  <%= @employee.years_with_company %>
</p>

<p>
  <strong>Manager/Lead:</strong>
  <%= @employee.manager.employee_name %>
</p>

<p>
  <strong>Position:</strong>
  <%= @employee.title.title_name %>
</p>

<p>
  <strong>Department:</strong>
  <%= @employee.group.department.department_name %>
</p>

<p>
  <strong>Group:</strong>
  <%= @employee.group.group_name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @employee.location.location_name %>
</p>

<p>
  <strong>Current Skills:</strong>
  <%= render @current_skills %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
