
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-left"><u>Employee Profile</u></h1>
    </div>
  </div> 
  
  <div class="row">
    <% if @employee == current_employee %>
      <div class="col-md-12 lead"><u>
        <%= link_to 'Edit Profile', edit_employee_path(@employee) %></u>
      </div>
    <% end %>
  </div>

  <div class="panel panel-info">
    
    <div class="row panel-body">

      <div class="col-md-3 panel-body">
        <img src="/assets/user.png" class="img-responsive" alt="user silhouette">
      </div>

      <div class="col-md-9 panel-body">
        <div class="panel-body">
          <span class="entry_title">Name:</span>
          <%= @employee.employee_name %>
        </div>

        <div class="panel-body">
          <span class="entry_title">Email:</span>
          <%= @employee.employee_email %>
        </div>

        <div class="panel-body">
          <span class="entry_title">Years with Company:</span>
          <%= @employee.try(:years_with_company) %>
        </div>

        <div class="panel-body">
          <span class="entry_title">Manager/Lead:</span>
          <%= @employee.try(:manager).try(:employee_name) %>
        </div>

        <div class="panel-body">
          <span class="entry_title">Position:</span>
          <%= @employee.try(:title).try(:title_name) %>
        </div>

        <div class="panel-body">
          <span class="entry_title">Department:</span>
          <%= @employee.try(:group).try(:department).try(:department_name) %>
        </div>

        <div class="panel-body">
          <span class="entry_title">Group:</span>
          <%= @employee.try(:group).try(:group_name) %>
        </div>

        <div class="panel-body">
          <span class="entry_title">Location:</span>
          <%= @employee.try(:location).try(:location_name) %>
        </div>

        <div class="row panel-body">

          <div class="col-md-1">
            <span class="entry_title">Current Skills:</span>
          </div>
          
          <div class="col-md-3">
            <% @employee.current_skills.each do |current_skill| %>
              <ul>
                <li><%= current_skill.skill.skill_name %>
                  <%=current_skill.skill_level%></li>
            
              </ul>
            <% end %>
          </div>

          <div class="col-md-1">
            <span class="entry_title">Desired Skills:</span>
          </div>
        
          <div class="col-md-3">
            <% @employee.goals.each do |skill| %>
              <ul>
                <li><%= skill.skill_name %></li>
              </ul>
            <% end %>
          </div>
        
        </div>
        
        <div class="row panel-body">

          <div class="col-md-2">
            <span class="entry_title">Project Assignments:</span>
          </div>
          
          <div class="col-md-3">
            <% @employee.assignments.each do |assignment| %>
              <ul>
                <li><%= assignment.project_request.project.project_name %></li>
              </ul>
            <% end %>
          </div>
          
        </div>
      
    </div>
 
  </div>
    
    <%= link_to "Back", :back, class: 'btn btn-danger' %>
    

    
    








