<p id="notice"><%= notice %></p>

<h1>Employee Profile</h1>

<p><span class="entry_title">
  Employee Name:</span>
  <%= @employee.employee_name %>
</p>

<p>
  <span class="entry_title">Employee Email:</span>
  <%= @employee.employee_email %>
</p>

<p>
  <span class="entry_title">Years with Company:</span>
  <%= @employee.years_with_company %>
</p>

<p>
  <span class="entry_title">Manager/Lead:</span>
  <%= @employee.manager.employee_name %>
</p>

<p>
  <span class="entry_title">Position:</span>
  <%= @employee.title.title_name %>
</p>

<p>
  <span class="entry_title">Department:</span>
  <%= @employee.group.department.department_name %>
</p>

<p>
  <span class="entry_title">Group:</span>
  <%= @employee.group.group_name %>
</p>

<p>
  <span class="entry_title">Location:</span>
  <%= @employee.location.location_name %>
</p>

<p>
  <span class="entry_title">Current Skills:</span>
  <% @employee.skills.each do |skill| %>
  <li><%= skill.skill_name %></li>
  <% end %>
</p>


<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
