<%= form_for(@assignment) do |f| %>

<%= f.number_field :employee_id, :hidden => true %>
<%= f.number_field :project_request_id, :hidden => true %>

<div class="field">
  <%= f.label :note, 'Applicant Note:' %><br>
  <%= f.text_area :note %>
</div>

<div class="actions">
  <%= f.submit ("Assign Employee to Project"), {:class => "btn btn-success btn-submit"} %>
</div>

<% end %>
