<%= form_for(@group) do |f| %>

  <div class="field">
    <%= f.label :group_name %><br>
    <%= f.text_field :group_name %>
  </div>
  <div class="field">
    <%= f.label :department_id %><br>
    <%= f.collection_select(:department_id, @departments, :id, :department_name ) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
