<h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <th>User Name</th>
      <th>User Email</th>
      <th>Years with Company</th>
      <th>Manager/Lead</th>
      <th>Position</th>
      <th>Department</th>
      <th>Group</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.user_name %></td>
        <td><%= user.user_email %></td>
        <td><%= user.years_with_company %></td>
        <td><%= user.user_id %></td>
        <td><%= user.title_id %></td>
        <td><%= user.department_id %></td>
        <td><%= user.group_id %></td>
        <td><%= user.location_id %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
