<%= form_for(@department) do |f| %>

  <div>
    <%= render 'shared/error_messages', obj: @department %>
  </div>
  
  <div class="field">
    <%= f.label :department_name, 'Department Name' %><br>
    <%= f.text_field :department_name %>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-primary btn-submit' %>
  </div>
<% end %>
