<p>
  <strong>Project Name:</strong>
  <%= @project.project_name %>
</p>

<p>
  <strong>Project Lead:</strong>
  <%= @project.employee_id %>
</p>

<p>
  <strong>Project Start:</strong>
  <%= @project.project_start %>
</p>

<p>
  <strong>Project End:</strong>
  <%= @project.project_end %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
