
  <%= form_for @review do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>
      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :assignment_id, :value => @assignment.id %>

  <% @assignment.project_request.required_skills.each do |required_skill| %>
  
    <div class="panel">
      <%= f.fields_for :skill_reviews do |skill_review| %>
      <div class="row">
        <div class="col-md-12">
          <%= label_tag "Skill: " %>
          <%= required_skill.skill.skill_name %>
          <%= skill_review.hidden_field :skill_id, :value => required_skill.skill.id %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <%= skill_review.label :experience, "Experience Gained:" %>
        </div>
        <div class="col-md-1">
          <%= skill_review.number_field :experience, class: "form-control" %>
        </div>
        <div class="col-md-1">Days</div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <%= skill_review.label :skill_level, "Skill Assessment: (If new review, default is employee-supplied level.) 1-Beg 2-Int 3-Adv 4-Expert" %>
        </div>
      </div>
      <div class="row form-group form-radio">
        <div class="radio-inline">
        <%= skill_review.radio_button("skill_level", "1") %>
        <%= skill_review.label :skill_level, '1' %>
        </div>
        <div class="radio-inline">
        <%= skill_review.radio_button("skill_level", "2") %>
        <%= skill_review.label :skill_level, '2' %>
        </div>
        <div class="radio-inline">
        <%= skill_review.radio_button("skill_level", "3") %>
        <%= skill_review.label :skill_level, '3' %>
        </div>
        <div class="radio-inline">
        <%= skill_review.radio_button("skill_level", "4") %>
        <%= skill_review.label :skill_level, '4' %>
        </div>
      </div>
    <% end %>
</div>
  <% end %>
    
    <div class="actions">
      <%= f.submit "Submit Review", class: "btn btn-primary btn-submit" %>
    </div>
<% end %>
