<p id="notice"><%= notice %></p>

<p>
  <strong>Assignment:</strong>
  <%= @review.assignment_id %>
</p>

<p>
  <strong>Skill:</strong>
  <%= @review.skill_id %>
</p>

<p>
  <strong>Experience:</strong>
  <%= @review.experience %>
</p>

<p>
  <strong>Skill level:</strong>
  <%= @review.skill_level %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
