<!DOCTYPE html>
<html>

<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

  <div class="container">  
    <header>  
      <ul class="nav nav-pills pull-right">
        <li><a class="navbar-brand pull-left" href="#">OneTeam</a></li>
        <% if logged_in? %>
          <li><%= link_to "Project Requests", project_requests_path %></li>
            <% if current_employee.admin?%>
              <li><%= link_to "Employees", employees_path %></li>
              <li><%= link_to "Projects", projects_path %></li>
              <li><%= link_to "Groups", groups_path %></li>
              <li><%= link_to "Departments", departments_path %></li>
              <li><%= link_to "Locations", locations_path %></li>
              <li><%= link_to "Titles", titles_path %></li>
              <li><%= link_to "Skills", skills_path %></li>
              <li><%= link_to "Log out", logout_path, method: "delete", class: "btn btn-default" %></li>
            <% end %>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </header>
  </div>
  
  <div class="container">
  <%= yield %>
  </div>

</body>
  
<%= debug(params) if Rails.env.development? %>
</html>
